.container {
    text-align: center;
    padding: 40px;
}

.container img {
    width: 750px;
}

.container h1 {
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.container button {
    padding: 10px 20px;
    background-color: rgb(52, 52, 183);
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    font-weight: 500;
}