.pricing img{
    width:150px
}
.pricing {
  max-width: 180px;
}

.pricing img {
  width: 130px;
  margin-bottom: 10px;
}

.pricing p {
  font-size: 14px;
  line-height: 1.4;
}

a{
    text-decoration: none;
}